* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav .navbar-nav li a:hover {
    color: orange !important;
    transition: 0.6s;
}
h3 {
    margin-inline-end: 30px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: orange;
    transition: 0.6s;
}

.row5 button {
    margin-inline-start: 3%;
    margin-left: 680px;
    margin-right: -600px;
    width: 110px;
    height: auto;
    background-color: transparent;
    background-color: orange;
    color: white;
    border-radius: 8px;
    padding: 5px;
    outline: none;
}

.row5 button:hover {
    background-color: orange;
    height: 39px;
    font-size: 17px;
}

.cname {
    text-align: center;
    margin-top: 3%;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.had {
    color: black;
    margin-top: 3%;
    margin-left: 50px;
    font-size: xx-large;
}

.row input {
    border-style: hidden;
    font-size: 17px;
}
.row b {
    margin-left: 50px;
    font-size: large;
    color: black;
}

.row1 input {
    border-style: hidden;
    font-size: 17px;
}
.row1 b {
    color: black;
    margin-left: 50px;
    font-size: large;
}

.row2 input {
    border-style: hidden;
    font-size: 17px;
}
.row2 b {
    color: black;
    margin-left: 50px;
    font-size: large;
}

.row3 input {
    border-style: hidden;
    font-size: 17px;
}
.row3 b {
    color: black;
    margin-left: 50px;
    font-size: large;
}

.row4 input {
    font-size: 17px;
    align-items: center;
    width: 23%;
}
.row4 b {
    color: black;
    margin-left: 50px;
    font-size: large;
}

.amount span{
    margin-left: 72%;
    font-size: xx-large;
}
.amount input
{
    font-size: 25px;
    padding: 3px;
    border-style: hidden;
}
.description {
    margin-inline: 500px;
    color: black;
}
.type {
    margin-left: -62px;
    color: black;
}

h4.new4 {
    align: center;
    border: 1px solid red;
    width: 10px;
}

.condition {
    margin-top: 5%;
    margin-left: 50px;
}

.demo {
    margin-inline: 4%;
}
